<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookies</title>
  
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="navbar">
        <h1>Bookies</h1>
    </div>
    <div class="container">
                
    </div>
    <div class="pop-overlay"></div>
    <div class="pop_box">
        <h2>Add Book</h2>
        <form>
            <input type="text" placeholder="book-id" id="book-id">
            <input type="text" placeholder="Book Title" id="book-title">
            <input type="text" placeholder="Book Author" id="author">
            <input type="text" placeholder="Year" id="year">
            <textarea placeholder="Short Description" id = "Description"></textarea>
            <button id="save-book">Save</button>
            <button id="cancel-popup">Cancel</button>
    </div>
    <button class="add-button" id="add-popup" type="button">+</button>
    <script src="/static/script.js"></script>
</body>
</html>